@import '@src/styles/functions';

/* hide native scrollbar */
.scrollbar {
  width: 0.25vw;
  position: fixed;
  top: 10svh;
  height: 80svh;
  right: 1vw;
  z-index: 100;
  opacity: 0;
  mix-blend-mode: difference;
  border-radius: 0.15vw;

  background-color: color-mix(in srgb, var(--footerText) 10%, transparent);

  @include mobile {
    width: 0.65vw;
  }
  .inner {
    position: absolute;

    width: 0.25vw;
    height: 6svh;
    background-color: var(--footerText);
    border: none;

    border-radius: 0.15vw;

    @include mobile {
      width: 0.65vw;
    }
  }
}
