.h1 {
  font-family: var(--font-heading), sans-serif;
  font-size: 6.1vw;
  line-height: 120%;
  font-weight: normal;
  @include mobile {
    font-size: 9.4vw;
    line-height: 130%;
  }
}

.h2 {
  font-family: var(--font-heading), sans-serif;
  font-size: 4.7vw;
  line-height: 120%;
  font-weight: normal;
  @include mobile {
    font-size: 7.6vw;
    line-height: 120%;
  }
}

.h3 {
  font-family: var(--font-heading), sans-serif;
  font-size: 3.8vw;
  line-height: 130%;
  font-weight: normal;
  @include mobile {
    font-size: 7vw;
    line-height: 130%;
  }
}

.h4 {
  font-family: var(--font-heading), sans-serif;
  font-size: 2.3vw;
  line-height: 130%;
  font-weight: normal;
  @include mobile {
    font-size: 5.9vw;
    line-height: 140%;
  }
}

.h5 {
  font-family: var(--font-heading), sans-serif;
  font-size: 1.9vw;
  line-height: 130%;
  font-weight: normal;
  @include mobile {
    font-size: 3.7vw;
    line-height: 140%;
  }
}

.h6 {
  font-family: var(--font-body), sans-serif;
  font-size: 1.5vw;
  line-height: 140%;
  font-weight: normal;
  @include mobile {
    font-size: 3.4vw;
    line-height: 140%;
  }
}

.p-l {
  font-family: var(--font-body), sans-serif;
  font-size: 1.15vw;
  line-height: 140%;
  font-weight: normal;
  @include mobile {
    font-size: 3.1vw;
    line-height: 140%;
  }
}

.p {
  font-family: var(--font-body), sans-serif;
  font-size: 0.95vw;
  line-height: 140%;
  font-weight: normal;
  @include mobile {
    font-size: 2.9vw;
    line-height: 140%;
  }
}

.p-x {
  font-family: var(--font-body), sans-serif;
  font-size: 0.85vw;
  line-height: 140%;
  font-weight: normal;
  @include mobile {
    font-size: 2.8vw;
    line-height: 140%;
  }
}

.p-xs {
  font-family: var(--font-body), sans-serif;
  font-size: 0.75vw;
  line-height: 140%;
  font-weight: normal;
  @include mobile {
    font-size: 2.7vw;
    line-height: 140%;
  }
}

.footer {
  color: var(--white);
  font-family: var(--font-body), sans-serif;
  font-size: 1.15vw;
  line-height: 140%;
  font-weight: normal;
  @include mobile {
    font-size: 3.1vw;
    line-height: 140%;
  }
}

.roman {
  font-weight: normal;
}

.medium {
  font-weight: normal;
}

.bold {
  font-weight: normal;
}

.name-text {
  font-family: var(--font-body), sans-serif !important;
}
