@font-face {
  font-family: 'Pricedown';
  src: url('/fonts/pricedown.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mokoto';
  src: url('/fonts/mokoto.regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

:root {
  --font-heading: 'Pricedown';
  --font-body: 'Mokoto';
}

body {
  font-family: var(--font-body), sans-serif;
}
