@import '@src/styles/functions';

.root {
  position: relative;
  background-color: var(--white);

  .title {
    grid-column: 5 / 16;
    @include mobile {
      grid-column: 1 / 7;
    }
  }
  .myStory {
    padding-top: calc(var(--layout-columns-gap) * 2);
    grid-column: 5 / 8;
    @include mobile {
      grid-column: 1 / 7;
    }
  }
  .desc {
    padding-top: calc(var(--layout-columns-gap) * 2);
    grid-column: 8 / 16;

    @include mobile {
      grid-column: 1 / 7;
    }
    .paddingTop {
      display: inline-block;
      padding-top: var(--layout-columns-gap);
    }
  }

  .sectionBlock {
    padding-top: calc(var(--layout-columns-gap) * 2.5);
    grid-column: 5 / 16;

    @include mobile {
      grid-column: 1 / 7;
      padding-top: calc(var(--layout-columns-gap) * 1.5);
    }
  }

  .sectionTitle {
    display: inline-block;
    padding-bottom: calc(var(--layout-columns-gap) * 0.6);
    text-decoration: underline;
    text-underline-offset: desktop-vw(4px);
    text-decoration-thickness: desktop-vw(1.5px);

    @include mobile {
      text-underline-offset: mobile-vw(3px);
      text-decoration-thickness: mobile-vw(1.5px);
      padding-bottom: calc(var(--layout-columns-gap) * 0.4);
    }
  }

  .sectionBody {
    color: var(--black);
    line-height: 170%;
    font-weight: 450;

    @include mobile {
      line-height: 165%;
    }
  }

  .tooltipTrigger {
    font-weight: 650;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.1em;
      width: 100%;
      height: desktop-vw(1.5px);
      background-color: var(--black);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.1, 1);

      @include mobile {
        height: mobile-vw(1.5px);
      }
    }

    @include hover {
      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}
